/*common style*/
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: solid 1px teal;
    background-color: teal;
    font-size: large;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
    margin-bottom: 20px;
}
/*index styles*/
#container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 20px;
}
.user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid black;
    background-color: aqua;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.64);
}
/*user-details styles*/
#userDetails{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    letter-spacing: 2px;
}
#userDetails p{
    margin: 0;
}
#userDetails>button{
    background-color: blueviolet;
    padding: 5px 7px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 111, 0.55);
}
#postsTitle{
    width: 90%;
    margin: 2em auto;
}
#postsTitle>ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 0;
}
#postsTitle>ul>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid teal;
    border-radius: 5px;
    background-color: aliceblue;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
/*post-details styles*/
#post{
    width: 90%;
    margin: 20px auto;
}
.post-list{
    border: 1px solid teal;
    font-size: 1.4em;
    background-color: aliceblue;
}
.comments-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0;
}
.comments-list>li{
    border: 1px solid teal;
    border-radius: 5px;
    background-color: aqua;
    padding: 10px;
}
.comments-list p{
    margin: 0 0 5px 0;
    font-size: 1.1em;
}